@model Aluno
    <h2>Detalhes do Aluno @Model.Nome</h2>
    <p>
        <label asp-for="Nome"> Nome do Aluno </label>
        <input asp-for="Nome"/>
    </p>
    <p>
        <label asp-for="Idade"> Idade:  </label>
        <input asp-for="Idade"/>
    </p>
     <p>
        <label asp-for="Disciplina"> Disciplina:  </label>
        <input asp-for="Disciplina"/>
    </p>
     <p>
        <label asp-for="Nota"> Nota:  </label>
        <input asp-for="Nota"/>
    </p>