@model List<Clinica>

@{
    ViewData["Title"] = "Lista de Clinicas";
}

<h2>Clinicas</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th><th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Clinica c in Model)
        {
            <tr>
                <td>@c.Nome</td>
                <td>@c.Detalhes</td>                
            </tr>
        }
    </tbody>
</table>