@{
    ViewData["Title"] = "Home Page";
}

<h2>Bem vindo ao site da veterinária.</h2>

<img src="img/cachorro.png" alt="Cachorro" title="Cachorro" height="300px" width="600px" class="cachorro">
<img src="img/gato.png" alt="Gato" title="Gato" height="300px" width="600px" class="gato">