<h2>Serviços</h2>

<ul>
    <li>Tosa 
        <ul>
            <li>Corte completo com banho</li>
            <li>Valor: R$50,00</li>
        </ul>
    </li>
    <li>Castração 
        <ul>
            <li>Castração de machos e fêmeas</li>
            <li>Valor: R$250,00</li>
        </ul>
    </li>
    <li>Consulta veterinária 
        <ul>
            <li>Consulta clínica</li>
            <li>Valor: R$80,00</li>
        </ul>
    </li>
    


</ul>