<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=devide-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - NotasAlunosMVC</title>   
        <link rel="stylesheet" href="~/css/site.css"/>     
    </head>
    <body>
       <header>
           <h2>Cadastro Escolar</h2>
       </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>            
        </div>

        <footer>
            <div>
                © 2019 - NotasAlunosMVC
            </div>
        </footer>
       
    </body>
</html>