@model Convidado


<form method="POST">


<p>
        <label asp-for="Nome"> Nome: </label>
        <input asp-for="Nome"/>
    </p>
    <p>
        <label asp-for="Idade"> Idade:  </label>
        <input asp-for="Idade"/>
    </p>
     <p>
        <label asp-for="Telefone"> Telefone: </label> 
        <input asp-for="Telefone"/>                
    </p>
     <p>    
         <label asp-for="Confirma"> Confirma Presença </label>    
        <input type="checkbox" id="Confirma" name="Confirma" checked value="true"/>
    </p>
<input type = "submit" value = "Cadastrar"/>
    </form>