@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Está pensando que vai passar o Carnaval ouvindo somente música brega e ruim?</h1>
    <h1 >Só de ouvir samba, pagode e axé, já te dá aquele gelo na espinha?</h1>
     <h1 >Os seus problemas acabaram. Venha para o Carnarock e bata cabeça até de manhã.</h1>
     <h1 >Além de boa música, também haverá chope e aperitivos.</h1>

    <p><a asp-action="Confirma"> Clique aqui para confirmar presença.</a></p>
</div>
