




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/loja.css" />
</head>

<body>    
    <div class="painelgrande">
        <div class="painel novidades">
            <h2>Loja</h2>
            <ol>
                <li>
                    <a href="produto1.html">
                        <figure>
                            <img src="~/img/Produtos/produto1.jpg" alt="Café arábica" height="100px" width="100px">
                            <figcaption>Café arábica 1kg R$ 59,90</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto2.html">
                        <figure>
                            <img src="~/img/Produtos/produto2.jpg" alt="Café mineiro" height="100px" width="100px">
                            <figcaption>Café mineiro 1 kg R$ 49,90</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto3.html">
                        <figure>
                            <img src="~/img/produtos/produto3.jpg" alt="Prensa francesa" height="100px" width="100px">
                            <figcaption>Jaqueta verde por 159,90 </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto4.html">
                        <figure>
                            <img src="~/img/produtos/produto4.jpg" alt="Moedor Hario" height="100px" width="100px">
                            <figcaption>Moedor Hario R$ 259,90 </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto5.html">
                        <figure>
                            <img src="~/img/produtos/produto5.jpg" alt="Chaleira" height="100px" width="100px">
                            <figcaption>Chaleira inóx R$ 319,00 </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto6.html">
                        <figure>
                            <img src="~/img/produtos/produto6.jpg" alt="Coador" height="100px" width="100px">
                            <figcaption>Coador de café R$ 149,00 </figcaption>
                        </figure>
                    </a>
                </li>
            </ol>

            <ol>
                <li>
                    <a href="produto7.html">
                        <figure>
                            <img src="~/img/produtos/produto7.jpg" alt="produto7" height="100px" width="100px">
                            <figcaption>Jarra de vidro R$ 219,00</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto8.html">
                        <figure>
                            <img src="~/img/produtos/produto8.jpg" alt="produto8" height="100px" width="100px">
                            <figcaption>Passador de café R$ 419,00</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto9.html">
                        <figure>
                            <img src="~/img/produtos/produto9.jpg" alt="produto9" height="100px" width="100px">
                            <figcaption>Xícara térmica R$ 259,00</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto10.html">
                        <figure>
                            <img src="~/img/produtos/produto10.jpg" alt="produto10" height="100px" width="100px">
                            <figcaption>Café torra média 1 kg R$ 39,90 </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto1.html">
                        <figure>
                            <img src="~/img/Produtos/produto1.jpg" alt="Café arábica" height="100px" width="100px">
                            <figcaption>Café arábica 1kg R$ 59,90</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="produto2.html">
                        <figure>
                            <img src="~/img/Produtos/produto2.jpg" alt="Café mineiro" height="100px" width="100px">
                            <figcaption>Café mineiro 1 kg R$ 49,90</figcaption>
                        </figure>
                    </a>
                </li>
            </ol>

        </div>
        

</body>

</html>